/* admin-panel.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 1300px; /* Adjusted width */
    padding: 20px;
    text-align: center;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}

.table-container {
    max-height: 500px; /* Set the maximum height of the table container */
    overflow-y: auto; /* Enable vertical scrollbar */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

.edit-button, .delete-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-button:hover, .delete-button:hover {
    background-color: #2980b9;
}


